[Unit]
Description=Radio Head Server
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/raspberry-radiohead-gateway
ExecStart=/home/pi/raspberry-radiohead-gateway/rf95_server 
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
