[Unit]
Description=Radio Head Server
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/christian/raspberry-radiohead-gateway
ExecStart=/home/christian/raspberry-radiohead-gateway/radiohead_gateway 
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
